@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wallpaper {
  background-image: url("/images/wallpaper.jpg");
}

.wallpaper2 {
  background-image: url("/images/wallpaper.jpg");
  /*background-position: center;
  background-repeat: no-repeat;
  background-clip: cover;*/
}

/* Add or modify your existing styles as needed */
.container {
    max-width: 960px;
    height: 500px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(255, 255, 255);
    border-radius: 17px;
    box-shadow: -3px 0px 30px 15px rgba(230, 230, 244, 0.75);
    -webkit-box-shadow: -3px 0px 30px 15px rgba(224, 224, 237, 0.915);
    -moz-box-shadow: -3px 0px 30px 15px rgba(226, 226, 240, 0.941);
    
  }
  .content{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content .img{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .images{
    margin: 10px;
    
  }
  /* Add these styles to your CSS file */
  
  .hiddenn{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(-100%);
  }
  
  .hiddenny{
    opacity: 0;
    filter: blur(5px);
    transform: scale(0.5);
    transition: all 1s ease ;
    
  }
  .hiddennf{
    opacity: 0;
    transform: perspective(1000px) rotateY(180deg);
    transition: all 1s ease;
  }
  .show{
    opacity:1;
    filter: blur(0);
    transform: scale(1);
    transition: all 1s ease;

  }
  

  
  
  
  
  .thumbnail-wrapper {
    margin-top: 20px;
    margin-left: 60px;
  }
  
  
  .thumbnail-wrapper .slick-track .slick-slide {
    text-align: center;
  }
  
  .thumbnail-wrapper .slick-track .slick-slide img {
    max-height: 50px;
    width: auto;
    margin: 0 auto;
    border-radius: 5%;
    cursor: pointer;
  }

